header p{
	font-size: 20px;
}

header a {
	text-decoration: none;
	color: black;
}
.title {
	margin-left:20px;
}
.goback {
	text-decoration: none; 
	color: black;
}

.goback span{
	margin-top: 20px;
	font-size:40px;
	color: black;
}

hr {
	width: 100%;
}
section {
	margin: 0 auto;
}

/*botón bandera*/
.flag-btn{
	padding: 0px 12px;
}

.flag {
	padding-right: -55px;
}
/*Codigo de pais*/
#dialCode {
    background-color: white;
    border-right: none;
}
/*Número ingresado*/
.input-phone {
	border-left: none;
}

/*Section Botón*/
.btnNext {
	width: 100%;
	height: 100%;
	padding: 10px; 
	background-color: #EA0B8C;
	color: #fff;
	border: none;
}
section a {
	text-decoration: none;
	font-size: 30px;
}
footer {
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
	margin-bottom: 10px;
}
